<div *ngIf="!gameData && !gameData?.finished" class="overflow-hidden rounded-lg bg-white shadow m-auto mt-80">
    <div class="px-4 py-5 sm:p-6 flex flex-col items-center justify-center">
        <!-- SET PLAYER NAME -->
        <div *ngIf="!playerNameisSet" class="flex flex-col">
            <div
                class="rounded-md bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                <label htmlFor="playerId" class="block text-xs font-medium text-gray-900">
                    Player Name
                </label>
                <input id="playerId" name="playerId" type="text" placeholder="Laroki" [(ngModel)]="playerId"
                    class="block w-full text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6" />
            </div>
            <button (click)="setPlayerName()"
                class="mt-2 rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                GO
            </button>
        </div>

        <div *ngIf="playerNameisSet" class="flex flex-col items-center justify-center">
            <button
                class="rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                (click)="createGame()">Create Game</button>

            <span class="m-4">OR</span>
            <div class="flex flex-col">
                <div
                    class="rounded-md bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <label htmlFor="gameId" class="block text-xs font-medium text-gray-900">
                        Game ID
                    </label>
                    <input id="gameId" name="gameId" type="text" placeholder="xef4g-ghty-yhds" [(ngModel)]="gameId"
                        class="block w-full text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6" />
                </div>
                <button
                    class="mt-2 rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    (click)="joinGame()">Join Game</button>
            </div>
        </div>

    </div>
</div>

<div *ngIf="gameData && !gameData?.finished"
    class="max-w-4xl mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-60">
    <!-- En-tête -->
    <div class="bg-blue-600 text-white p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">ID du Jeu: {{gameData.id}}</h1>
        <span class="text-xl">Tour: {{gameData.round || 0}}</span>
    </div>

    <!-- Informations des joueurs -->
    <div class="flex justify-center items-center p-4 bg-gray-200">
        <div class="text-center flex items-center justify-center">
            <h2 class="text-lg font-semibold ">{{gameData?.players?.[0]?.name}}</h2>
            <span class="text-sm text-gray-600 mx-4">VS</span>
            <h1 class="text-lg font-semibold">{{gameData?.players?.[1]?.name || '...'}}</h1>
        </div>
    </div>

    <!-- Affichage des mots -->
    <div class="flex justify-center items-center p-8 bg-gray-100"
        [ngClass]="{'bg-green-100' : gameData.finished, 'bg-red-100': gameData.wordsFilled } ">
        <div class="text-3xl font-bold mx-4 p-4 bg-blue-100 rounded">{{gameData?.players?.[0]?.currentWord || '...'}}
        </div>
        <div class="text-xl mx-4">vs</div>
        <div class="text-3xl font-bold mx-4 p-4 bg-green-100 rounded">{{gameData?.players?.[1]?.currentWord || '...'}}
        </div>
    </div>

    <!-- Historique -->
    <div class="flex">
        <!-- Historique du Joueur 1 -->
        <div class="w-1/2 p-4 border-r">
            <h3 class="text-lg font-semibold mb-2">Historique de {{ gameData?.players?.[0]?.name }}</h3>
            <ul class="list-disc pl-5">
                <li *ngFor="let word of gameData?.players?.[0]?.history">{{word}}</li>
            </ul>
        </div>
        <!-- Historique du Joueur 2 -->
        <div class="w-1/2 p-4">
            <h3 class="text-lg font-semibold mb-2">Historique de {{ gameData?.players?.[1]?.name }}</h3>
            <ul class="list-disc pl-5">
                <li *ngFor="let word of gameData?.players?.[1]?.history">{{word}}</li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="(gameData && !wordSent) && !gameData?.finished" class="max-w-xl m-auto flex flex-col mt-4">
    <div
        class="rounded-md bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
        <label htmlFor="word" class="block text-xs font-medium text-gray-900">
            Enter your Word
        </label>
        <input id="word" name="word" type="text" placeholder="Sun" [(ngModel)]="word"
            class="block w-full text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6" />
    </div>
    <button
        class="mt-2 rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        (click)="sendWord()">Send Word</button>
</div>

<div *ngIf="gameData?.finished"
    class="overflow-hidden rounded-lg bg-white shadow m-auto mt-80  flex flex-col justify-center items-center">
    <h1>Victoire !</h1>
    <button
        class="mt-2 rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        (click)="restart()">Restart</button>
</div>